
body{
   background-color:#F1F1F3 ;
}


.fira-sans-thin {
   font-family: "Fira Sans", serif;
   font-weight: 100;
   font-style: normal;
 }
 
 /* nav style */
 nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin:0 100px;
 }
 .nav-title{
   font-weight:bold;
   font-size: 20px;
 }
 nav ul{
   display: flex;
 }
 nav ul li{
   list-style:none ;
   margin-right: ;
 }
 /* shared style */
 .btn-primary{
   background-color: #F1F1F3;
   font-size: ;
   padding: 10px 20px;
   color: #006A50;
   border-radius: 8px;
   border-color: #006A50;
 }
 /* baneer style */
 .baneer{
   display: flex;
   justify-content: space-between;
   margin: 0 95px  75px ;
   background-color:#C6E4D6;
   border-radius: 24px;
   padding: 20px 50px;

 }
 .baneer-content{
   max-width:600px ;
 }
 .baneer-title{
   font-size: 15px;
   font-weight:400;
 }
 .baneer-description{
   font-weight: bold;
   font-size: 25px;
 }
 .btn-primary-1{
   background-color: #006A50;
   color: white;
   padding: 12px 20px;
   border-radius: 8px;
   border: none;

 }
 .baneer-profilr-pic{
   width: 475;
   height: 400;
 }
 /* skills-container */
 .skills-container{
   display: flex;
   gap:24px;
   justify-content: space-between;
   margin: 0px 75px;
   padding:12px ;

 }
 .skill-description{
  font-size: 15px;
   font-weight: 300;
 }
 .skill{
  margin-top:32px ;
   padding:24px;
   box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
   background-color: #FFFFFF;
   border-radius: 16px;
 }
 .section-title{
   margin: 0px 90px
   
 }
 /* skills-1 */
 .section-title-1{
   margin: 0 85px;
   margin-top:80px ;
 }
  .section-description-1{
   margin: 0 85px;
   font-size: 15px;
   font-weight: 300;
   margin-top:30px ;
  
 } 
 /* funcation */
  .funcation-container{
   display: flex;
   margin:0 75px ;
   margin-top:32px ;
   justify-content: space-between;
   gap: 24px;
 

  }
  .funcation-description{
   font-size: 15px;
   font-weight: 300;

   
  }
  .funcation-1{
   background-color: #A3C9FF;
   box-shadow:0px 4px 4px 0px#F1F1F3 ; 
   padding: 32px;
   border-radius: 16px;
   border:none;
   
  }
  .funcation-2{
   background-color:#B9F4D8 ;
   box-shadow:0px 4px 4px 0px #F1F1F3; 
   padding: 32px;
   border-radius: 16px;
   border:none;
  }
   .funcation-3{
    background-color: #FFF7DF;
      box-shadow:0px 4px 4px 0px #F1F1F3; 
      padding: 32px;
      border-radius: 16px;
      border:none;
  }
   .btn-primary-2{
      background-color:#5490F5 ;
      border-radius: 8px;
      border: none;
      padding: 10px 15px;
      color: white;
   }
   .btn-primary-3{
      background-color:#09A15C ;
      padding:10px 15px ;
      border-radius: 8px;
      border: none;
      color: white;
   }
   .btn-primary-4{
      background-color:#FFC239 ;
      padding:10px 15px ;
      border-radius: 8px;
      border: none;
      color: white;
   }


   /* recent */
   .section-description-2{
    font-size: 15px;
   font-weight: 300;
   margin: 0 75px;
   margin-top: 20px;
   }
   .section-title-2{
    margin:0 75px ;
   margin-top:80px;
   }

   /* card */
   
   .card{
     display: flex;
    align-items: center;
    border-radius: 24px;
    border: none;
     margin:0 75px ;
    margin-top: 20px;
      box-shadow:px 4px 4px 0px;background-color: #FFFFFF;
      padding: 30px 30px; 
      
   }
    
    
    
  .card-profile-pic{
     border-radius: 20px;
    
    height: 200px;
     margin: 0 30px  
      
   }  
   .card-description{
    font-size: 15px;
   font-weight: 300;
   }
   .card-description-1{
    font-size: 15px;
   font-weight: 300;
   }
   .btn-primary-A{
    padding: 10px 15px;
    border-radius: 8px;
    background-color:#006A50 ;
    color: white;
    border: none;
    
   }

   .card-profile-pic-1{
    width: 134px;
    height: 40px;
   }
    





   /* card-1 */
 .card-1{
  display: flex;
  align-items: center;
  border-radius: 24px;
  border: none;
   margin:0 75px ;
  margin-top: 32px;
    box-shadow:px 4px 4px 0px;background-color: #FFFFFF;
    padding: 30px 30px; 
    
 }
 .card-conteiner-1{
  margin:0 75px ;
  margin-top;32px;
 
  
 }
 .card-profile-pic-3{
  /* width: 200px;
  margin-left: 0 50px; */
  border-radius: 15px;
    
  height: 200px;
   margin: 0 30px 

 }
 .card-description-2{
  font-size: 20px;
   font-weight: 300;
 }
 .card-description-3{
  font-size: 15px;
  font-weight: 300;
 } 
 .btn-primary-B{
  padding: 10px 15px;
    border-radius: 8px;
    background-color:#006A50 ;
    color: white;
    border: none;
 }

 /* donate */
 .donate{
  margin-top: 80px;
  text-align: center;
 }
 .donate-description{
  text-align: center;
  margin: 0 100px;
  font-size: 15px;
  font-weight: 300;
 }


 /* flex-box */
 

 
 .flex-conteiner{
 display: flex;
 align-items: center;
 justify-content: center;
 
 margin-top:32px;
 align-items:center;
 gap:24px
 

 

 }
 .flex-conteiner div{
  
  gap: 24px;
  box-shadow: 0px 4px 4px 0px;
  
  padding: 20px 30px;
  border-radius: 10px;
  font-size:15px;
  font-weight: bold;
  background-color:#C6E4D6;
  color:black;
  border: none;
  
  

 }

 /* comma */
 .comma{
  
  box-shadow:0px 4px 4px 0px;
  padding: 25px 20px;
   margin: 0px 75px; 
  border-radius:16px;
  margin-top: 20px;
  border: none;
 background-color: #FFFFFF;
 }
 
 /* .comma-container{
  margin-top: 100px;
  
     margin: 0 75px 
 } */
  .comma-title{
   
      margin: 0 75px; 
    font-size: 15px;
   font-weight: 300;
   
   
  }
  .comma-title-1{
   margin: 0px 75px; 
    margin-top: 10px; 
  }
  .comma-profile-pic{
    margin: 0 75px;
    border-radius: 15px;
    position: absolute;
   
    
  
  }
  .comma-description{
    margin: 0 75px;
    font-size: 15px;
   font-weight: 300;
  }
  

  /* box */
  .box{
   box-shadow: 0px 4px 4px 0px;
   margin: 0 390px;
   margin-top:32px;
   border-radius: ;
   border: none;
  
  }
  .box-title{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: none;
  }
  .box-button{
    display: flex;
    justify-content: center;
    margin: 50px;

  }
  .box-btn-primary{
    margin-top: px;
    width: 100px;
    height: 40px;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius:8px;
    /* align-items: center; */
    /* justify-content: center; 
    align-items: center; */
  }

  /* subscribe-box */
   .subscribe-box{
     
      margin: 0px 75px; 
      padding:80px 80px ;
    background-color:#C6E4D6 ;
    border-radius: 24px;
  }
 .subscribe-title{
    text-align: center;
  margin: 0px 75px;
   margin-top: px;
  }
  .subscribe-description{
    text-align: center;
    margin: 0 170px;
    font-size: 15px;
  font-weight: 300;
  margin-top: 15px;
  }
   
  .Subscribe{
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    /* padding: 10px; */
    margin: 0 200px;
    margin-top:20px ;
  }
  .Subscribe input{
    flex: 1;
    border: 0;
    outline: 0px;
    margin-left: 20px;
  }
  .Subscribe button{
    background: #006A50;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 20px 20px;


  }
  .under{
   margin-top: 50px;
   justify-content: center;
   align-items: center;
   /* margin:32px 570px;  */
  box-shadow: 0px 4px 4px 0px;
  padding:50px 0px;
  background-color: #FFFFFF;
  border:none;
  }
   .imge{
    gap:10px;
    margin:32px 570px;
    
  } 
   .under-title{
    margin:32px 570px;
   }
   .horojentical{
    margin: 0px 120px;
   }
